<!DOCTYPE html>
<html>
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!--Main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="404-error.png" alt="aditya" class="img-fluid" title="Mausam_app">
                        </figure>
                     
                       <p> Welcome to our weather app</p>
                       <h1>OOPs Page Not Found</h1>
                       <a href="/" target="aditya"> <button>Go Back</button> </a>
                    </div>
                    <!--right side div-->
                    
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--footer code-->
    <footer>
        <p>Created with love by Adi</p>
    </footer>
</body>
</html>