<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}
    <!--Main header-->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!--left side div-->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="mern.jpg" alt="aditya" class="img-fluid" title="Mausam_app">
                        </figure>
                     </div>
                    <div class="col-md-6 col-12 main_header_left">
                       <p> Welcome to our weather app</p>
                       <h1>I am a <span class="text_clr">MERN Stack Developer</span> .</h1>
                       <a href="https://www.linkedin.com/in/aditya-narayan-6771b8192/" target="aditya"> <button>About Me</button> </a>
                    </div>
                    <!--right side div-->
                    
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--footer code-->
    <footer>
        <p>Created with love by Adi</p>
    </footer>
</body>
</html>